body{


    font-family: 'Otomanopee One', sans-serif;
}
.connect-link-fb{

text-decoration: none;

color: white;

background-color: rgb(81, 187, 230);

padding: 1%;

padding-top: 10px;

border-radius: -6%;

border-radius: 6px;

padding-bottom: 10px;
}
span{
color: orange; font-size: 45px;

}

.half-widht{


width: 40%;

margin-left: 5%;
padding-left: 2%;
}
.half-widht img {
    width: 100%;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}
.firt-second-diplay{ display: flex;}

.uppar-link{

text-decoration: none;
color: white;
background-color: rgb(81, 187, 230);
padding: 1%;

padding-top: 10px;

border-radius: -6%;

border-radius: 6px;

padding-bottom: 10px;

}

h3{

color: rgb(0, 171, 250);
font-style: italic;

}
#h1-tag-2nd-section{


font-size: 65px;


}

#moving-id{

font-size: 50px;


}
#fontal-id{

font-size: 18px;


}


#shibpur{

color: rgb(32, 180, 180);

}
#kawaski-ninja{

font-style: normal;


color:rgb(44, 42, 42)
}
.last-in-kawaksai{




display: flex;
}

#flash-list{

margin-top: 100px;


}
#mikado-007{

color: rgb(255, 255, 255);

text-align: center;

font-style: italic;
font-size: 60px;

background-image: linear-gradient(rgb(11, 73, 245),skyblue);


}
#moric-bukhaili{

font-style: italic;
font-size: 12px;
color:rgb(41, 39, 39);

}

.fiver{


display: flex;


}

#Ninja{

margin-top: 145px;



}
